{% extends 'base.html' %}
{% load static %}
{% block title %}
    Homepage
{% endblock title %}
    {% block banner %}
    <img src="{% static 'movieapp/images/breadcrumb.png' %}" alt="" class="" style="width: 100vw;position: absolute;z-index: -1;">
    {% endblock banner %}
{% block content %}
    
    <div class="container" style="margin-top: 40vh;">
        <div class="row">
          {% for serie in series %}
            <div class="col-6 col-md-4">
                <div class="card bg-transparent" style="width: 18rem;">
                    <img class="card-img-top" src="{{ serie.poster_img.url }}" alt="{{ serie.title }}">
                    <div class="card-body">
                      <h5 class="card-title text-white" style="font-weight:bolder;">{{ serie.title }}</h5>
                      <p class="card-text">
                        <i class="fas fa-star" style="color:gold"></i>
                        <i class="fas fa-star" style="color:gold"></i>
                        <i class="fas fa-star" style="color:gold"></i>
                        <i class="fas fa-star" style="color:gold"></i>
                        <i class="fas fa-star" style="color:gold"></i>
                      </p>
                    </div>
                  </div>
            </div>
          {% endfor %}
        </div>
    </div>
{% endblock content %}