<!doctype html>
<html lang="en">
    {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="shortcut icon" type="img/png" href="{% static 'movieapp/images/favicon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'movieapp/css/main.css' %}">

    <title>
        {% block title %}
        {% endblock title %}
    </title>
  </head>
  <body style="background-color: rgb(1, 2, 12);">
    {% block banner %}
    {% endblock banner %}
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark bg-transparent">
          <a class="navbar-brand" href="#">
            <img src="{% static 'movieapp/images/brand.png' %}" width="60" height="50" alt="" loading="lazy">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
              <li class="nav-item {% if request.resolver_match.url_name == 'home' %} active {% endif %} ">
                <a class="nav-link " href="{% url 'home' %}">
                  Home
                  {% if request.resolver_match.url_name == 'home' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              <li class="nav-item {% if request.resolver_match.url_name == 'series' %} active {% endif %} ">
                <a class="nav-link " href="{% url 'series' %}">
                  Series
                  {% if request.resolver_match.url_name == 'series' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              <li class="nav-item {% if request.resolver_match.url_name == 'clips' %} active {% endif %} ">
                <a class="nav-link " href="{% url 'clips' %}">
                  Clips
                  {% if request.resolver_match.url_name == 'clips' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              <!-- <li class="nav-item {% if request.resolver_match.url_name == 'home' %} active {% endif %} ">
                <a class="nav-link " href="{% url 'home' %}">
                  Home
                  {% if request.resolver_match.url_name == 'home' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0 ">
              <input class="form-control mr-sm-2 bg-transparent text-light" style="border-radius: 100px;border: solid;border-width: 2px;width: 25vw;" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>
            {% if user.is_authenticated %}
            <div class="navbar-nav ml-auto">
              <a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell-o"></i><span class="badge">1</span></a>
              <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><!--<img src="/examples/images/avatar/2.jpg" class="avatar" alt="{{ user.username }}">--> {{ user.username }} <b class="caret"></b></a>
                <div class="dropdown-menu">
                  <a href="{% url 'editprofile' %}" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></a>
                  <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a></a>
                  <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a></a>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'logout' %}" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></a>
                </div>
              </div>
            </div>
            {% else %}
            <ul class="navbar-nav ml-auto ">
              <li class="nav-item {% if request.resolver_match.url_name == 'login' %} active {% endif %} ">
                <a class="nav-link " href="{% url 'login' %}">
                  Login
                  {% if request.resolver_match.url_name == 'login' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              <li class="nav-item {% if request.resolver_match.url_name == 'register' %} active {% endif %} ">
                <a class="nav-link " href="{% url 'register' %}">
                  Sign up
                  {% if request.resolver_match.url_name == 'register' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
            </ul>
            {% endif %}


          </div>
      </nav>
    </div>
      {% block content %}
      {% endblock content %}

      <!-- font awsome -->
      <script src="https://kit.fontawesome.com/10ff982003.js" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>